<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" Create Employee></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-lable" for="fullName">
          Full Name
        </label>
        <div class="col-sm-8">
          <input id="fullName" placeholder="Full Name" formControlName="fullName" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-lable" for="email">
          Email
        </label>
        <div class="col-sm-8">
          <input id="email" type="text" placeholder="Email" formControlName="email" class="form-control">
        </div>
      </div>

      <div formGroupName="skills">
        <div class="form-group">
          <label class="col-sm-2 control-lable" for="skillName">
            Skill
          </label>
          <div class="col-sm-4">
            <input id="skillName" formControlName="skillName" type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-sm-4">
            <input id="experienceInYear" formControlName="experienceInYear" type="text" class="form-control"
              placeholder="Experience in Year">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-lable" for="proficiency">
            proficiency
          </label>
          <label class="radio-inline">
            <input id="proficiency" type="radio" value="beginner" formControlName="proficiency">Beginner
          </label>
          <label class="radio-inline">
            <input id="proficiency" type="radio" value="intermediate" formControlName="proficiency">Intermediate
          </label>
          <label class="radio-inline">
            <input id="proficiency" type="radio" value="advanced" formControlName="proficiency">Advanced
          </label>
        </div>
      </div>


      <div class="panel-footer">
        <div class="btn-toolbar">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table border="1">
  <tr>
    <th style="padding:10px">Form Group</th>
    <th style="padding:10px">Form Control(Full Name)</th>
  </tr>
  <tr>
    <td style="padding:10px">
      touched:{{employeeForm.touched}}
      <br /> dirty: {{employeeForm.dirty}}
      <br /> Valide: {{employeeForm.Valide}}
      <br /> Form Value : {{employeeForm.value | json}}
    </td>

    <td style="padding:10px">
      touched:{{employeeForm.get('fullName').touched}}
      <br /> dirty: {{employeeForm.get('fullName').dirty}}
      <br /> Valide: {{employeeForm.get('fullName').Valide}}
      <br /> Form Value : {{employeeForm.get('fullName').value | json}}
    </td>
  </tr>
</table>